/* Css variables*/
:root{
  --primary: #ddd;
  --dark:#333;
  --light:#fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body{
  background:#f8f1e5;
  margin: 0px;
  line-height: 1.4;
  height: 100%;
}

img{
  max-width: 100%;

}

.wrapper{
  display: grid;
  grid-gap:20px;
}
/*Navigation*/

.main-nav ul{
display:grid;
grid-gap: 20px;
padding:0 ;
list-style: none;
grid-template-columns: repeat(3, 1fr);
}

.main-nav a {
  background-color:white;
  display: block;
  text-decoration: none;
  padding: 0,8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}
.main-nav a:hover{
  background: #666;
  color:var(--light);
}

/*Top container*/

.top-container{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'showcase showcase top-box-a'
  'showcase showcase top-box-b';
}

/*Showcase*/
.showcase{
  grid-area: showcase;
  min-height: 400px;
  background: url(./images/laptop.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow)
}

.showcase h1{
  font-size: 4rem;
  margin-bottom: 0;
  color:var(--light);
  background: rgba(58, 151, 204, 0.3);
}
.showcase p{
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
  background: rgba(58, 151, 204, 0.3);
}


/* Boxes */
.boxes{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
   background: white;
   text-align: center;
   padding: 1.5rem 2rem;
   box-shadow: var(--shadow);
}

.img-crop{
  width: 300px;
  height: 250px;
  overflow: hidden;
}

/*Info */

.info{
   background: white;
   box-shadow: var(--shadow);
   display: grid;
   grid-gap: 30px;
   grid-template-columns: repeat(1, 1fr);
   padding: 3rem;
 text-align: center;
}



.btn{
  margin-left: 0px;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #bcbabe;
  border: 20px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: none;
  
  }
     
.btn:hover {background-color:#666;}
     
.btn:active {
background-color: white;
box-shadow: 0 5px #666;
transform: translateY(4px);
  }

/* Footer */
footer{
   margin-top: 2rem;
   background: #bcbabe;
   color: var(--light);
   text-align: center;
   padding: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color:white;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
}

.quantity {
  margin-bottom: 20px;
}


/*Media queries*/
@media(max-widht:700px){
   .top-container{
       grid-template-areas: 
       'showcase showcase'
       'top-box a top-box-b'
   }
}