#product-amount{
    width: 50px;
    margin: 5px 0px 0px 0px;
    opacity: 1;
}
#trashcan{
    margin: 5px;
    font-size: 23px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
}